#parameters {
	padding: 15px 15px 15px 0px;
	border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
    height:310px;
    background-color: white;
}

#parameters.affix {
    position: fixed;
    top: 0;
    width:550px;
  }

.errors {
	color: #a94442;
	margin-top: 5px;
	margin-bottom: 0;
	font-size:small;
}

.chartWindow {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
    overflow-x: auto;
    height:310px;
    /*width:425px;*/
    background-color: white;
}

h1 {font-family: 'Ubuntu', sans-serif;
	text-align:center;}

body {font-family: 'Ubuntu', sans-serif;}

/*.form-control:focus {
    border-width: 2px;
    border-color:#1ABC9C;
    box-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}*/

.form-control {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-submit {
    background-color: #1ABC9C;
    color: #fff;
}

.btn-submit:hover {
    background-color: #1A977F;
    color: #fff;
}

.btn-submit:active {
    background-color: #1A977F;
    color: #fff;
}

.btn-submit:focus {
    background-color: #1ABC9C;
    color: #fff;
}

.hidden { display: none; }