#parameters {
	padding: 0px 30px 0px 30px;
}

#parameters.affix {
    position: fixed;
    top: 0;
    width:550px;
  }

.errors {
	color: #a94442;
	margin-top: 5px;
	margin-bottom: 0;
	font-size:small;
}