{% block title %}Simulation Plots{% endblock %}

{% block content %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet"
      href="{{url_for('static', filename='css/materialize.min.css')}}">      
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300italic,300,400italic,400,500italic,500,700italic,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}  
    <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dimple.v2.1.6.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/parameters.js')}}"></script>
    <script src="{{url_for('static', filename='js/product.js')}}"></script>
    <script src="{{url_for('static', filename='js/input_validation.js')}}"></script>
{% endblock %}
