{% extends "base.html" %}

{% block title %}Plots{% endblock %}

{% block content %}

<div class="container">
<div class="row">

  <div class="col s4">
    <h1>Simulation</h1>
    <hr>
 
      <!-- Form -->
    <div class="row" id="parameters">
      <form class="col s12" id="parametersForm">

        <!-- Periods -->
        <div class="row">
          <div class="input-field col s12">
            <input id="periods" type="text" class="validate">
            <label for="periods">Set the number of periods</label>
          </div>
        </div>

        <!-- Simulate btn -->
        <div class="form-group">
          <div class="col s3">
          </div>
          <div class="col s4">
            <button type="submit" class="btn btn-submit">Simulate</button>
          </div>
        </div>

      </form>  <!-- form end -->
    </div> <!-- parameters div -->
  </div> <!-- col s4 -->

<!--   <div class="col s5">
    <h1>Plot</h1>
    <hr>
    <div id="chartBox1" class="chartWindow">
      <div id="stepContainer"></div>
    </div> 
  </div>

  <div class="col s3">
    <h1>Statistics</h1>
    <hr>
    <div id="chartBox2" class="chartWindow">
      <div id="pieContainer"></div>
    </div> 
  </div> -->

</div> <!-- end row -->
</div> <!-- end main container -->

{% endblock %}

{% block scripts %}
  {{super()}} 
  <script src="{{url_for('static', filename='js/plot.js')}}"></script>
{% endblock %}